<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><%= __('Practice 5') %></a>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Menu
    </button>

    <% getLocales().forEach( locale => { %> <% if(locale === 'en'){ %>
    <a href="/change-locale/<%= locale %>"> <%= __('En') %> 🇬🇧 </a> <% } %>
    <!-- else -->
    <% if(locale === 'es'){ %>
    <a href="/change-locale/<%= locale %>"> <%= __('Sp') %> 🇪🇸 </a> <% } %> <% }) %>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/"><%= __('Home') %></a>
      <% if (!session.authUser) { %>
      <a class="dropdown-item" href="/login"><%= __('Log In') %></a>
      <% } %> <% if (session.authUser) { %>
      <a class="dropdown-item" href="nodepop-private"><%= __('User Session') %></a>
      <a class="dropdown-item" href="logout"><%= __('Log Out') %></a>
      <% } %>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if (!session.authUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="/login"
          ><%= __('Log In') %><span class="sr-only"></span
        ></a>
      </li>
      <% } %> <% if (session.authUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="nodepop-private"><%= __('User Session') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout"><%= __('Log Out') %></a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
